
.personal-info-top,
.personal-info-middle {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.329);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.personal-section .personal-info-img img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.text {
  box-shadow: 0 0 15rem rgba(0, 0, 0, 0.363) inset;
  color: wheat;
}
.text:focus {
  box-shadow: none;
}

.personal-change-imgbtn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 0.7rem;
  outline: none;
  border: none;
  background-color: rgba(53, 53, 53, 0.5);
  color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.623);
  transition: .5s;
  margin-left: -4.9rem;
  opacity: 0;
}
.personal-change-imgbtn:hover{
    transform: scale(1.1);

    opacity: 1;
}
